<div class="container text-center mt-3 mb-3">
<table class="table table-primary">
   <tr>
      <th colspan="7" class="h1 text text-danger">Book List</th>
   </tr>
   <tr class="h3 text text-secondary">
      <th>Tiêu đề</th>
      <th>Tác giả</th>
      <th>Giá tiền</th>
      <th>Số lượng</th>
      <th>Ngày xuất bản</th>
      <th>Ảnh bìa</th>
      <th>Video</th>
   </tr>
   {{#each books }}
         <tr>
            <th>{{ title }}</th>
            <th>{{ author }}</th>
            <th>{{ price }} $</th>
            <th>{{ quantity }}</th>
            <th>{{ dateFormat date "DD/MM/YYYY" }}</th>
            <th>
               <img src="{{ image }}" width="300" height="300">
            </th>
            <th>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video }}"></iframe>
            </th>
         </tr>
   {{/each}}
</table>
</div>